/* font style import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* header styles */
header {
  width: 100%;
  height: 25%;
  background: #562eff;
}
header nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.logo-info {
  display: flex;
  align-items: center;
}
.logo-info img {
  width: 40px;
  height: 51px;
  margin-right: 16px;
}
.logo-info span {
  color: #ffffff;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}
.header-menu img {
  width: 51px;
  height: 51px;
  align-items: center;
}

/* common styles */
body {
  background: #f3f1ff;
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}
.container {
  width: 870px;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #ffffff;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 30px;
}
/* .lower-container {
  width: 870px;
  height: 362px;
  background-color: salmon;
} */
/* top players style */
.top-players {
  margin-bottom: 30px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}

/* Top Blog style */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
}
.blog-title {
  margin-left: 16px;
}
.thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-author {
  color: #9f9f9f;
}
.blog-author a {
  color: #562eff;
  font-size: 16px;
  text-decoration: none;
}

/* LAtest Course style */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.course-banner img {
  width: 224px;
  height: 104px;
}
.course-title {
  font-size: 21px;
}
.course-author {
  color: #ed6b4f;
}
.course-rating {
  display: flex;
  align-items: center;
}
.course-rate {
  margin-right: 25px;
}
.fa-star {
  font-size: 16px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.fa-clock {
  color: #ed6b4f;
  margin-right: 10px;
}
.course-duration {
  background: #fee5df;
  border: 1px solid #ed6b4f;
  border-radius: 30px;
  padding: 0 6px;
  margin-bottom: 6px;
}
/* .course {
  box-shadow: grey;
  filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
} */

/* responsive style */
/* mobile devices */
@media only screen and (max-width: 688px) {
  header nav {
    justify-content: space-between;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog {
    flex-direction: column;
  }
}

/* tablet devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {
  header nav {
    justify-content: space-between;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
}
